@import 'utils/reset';
@import 'common/breakpoints';


:root {
  // colors
  --interactive-color: #0000EE;

  --white:   #fff;
  --grey-10: #fafafa;
  --grey-15: #eee;
  --grey-50: #757575;

  --black:   #000;

  // dimensions
  --board-size-sm:  360px;
  --board-size-md:  500px;

  --tile-size-sm:   72px;
  --tile-size-md:   100px;
}


body {
  background-color: var(--grey-10);
  padding: 32px 0;

  font-family: sans-serif;
}

h1 {
  font-size: 16pt;
  font-weight: bold;
  line-height: 1;
}

a {
  text-decoration-thickness: 1pt;
  color: var(--interactive-color);
}

a:hover {
  text-decoration: none;
}


.spacing-8 {
  height: 8px;
}

.spacing-16 {
  height: 16px;
}

.spacing-24 {
  height: 24px;
}

.spacing-32 {
  height: 32px;
}

.spacing-48 {
  height: 48px;
}

.spacing-64 {
  height: 64px;
}


.container {
  margin: 0 auto;
  width: var(--board-size-sm);

  @media #{$mqMedium} {
    width: var(--board-size-md);
  }
}


.bingo-card {
  display: grid;

  position: relative;
  left: -8px;

  border-radius: 1px;
  border: 8px solid var(--white);
  filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 25%));
  outline: 2px solid var(--grey-15);

  width: 375px;
  height: 375px;

  @media #{$mqMedium} {
    width: 515px;
    height: 515px;
  }
}

.tile-row {
  display: flex;

  width: var(--board-size-sm);
  height: var(--tile-size-sm);

  @media #{$mqMedium} {
    width: var(--board-size-md);
    height: var(--tile-size-md);
  }
}


.bingo-tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--tile-size-sm);
  height: var(--tile-size-sm);

  border-radius: 0;
  border: none;
  cursor: pointer;
  padding: 8px;

  color: var(--black);
  font-size: 6pt;
  font-weight: bold;
  text-align: center;
  
  @media #{$mqMedium} {
    width: var(--tile-size-md);
    height: var(--tile-size-md);
    padding: 10px;

    font-size: 9pt;
  }
}

.bingo-tile:hover {
  text-decoration: underline;
  text-decoration-thickness: 1pt;
}

.bingo-tile.even {
  background-color: var(--grey-10);
}

.bingo-tile.odd {
  background-color: var(--grey-15);
}

.bingo-tile[aria-selected="true"] {
  color: var(--grey-50);
}

.bingo-tile[aria-selected="true"]:after {
  position: absolute;
  opacity: 33%;

  content: '❌';
  color: transparent;
  font-size: 32pt;
  text-shadow: 0 0 0 var(--interactive-color);
}

.aligned-right {
  text-align: right; // TODO: improve way to alight right
}


.options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.game-scope-form {
  legend {
    display: inline-block;
    font-weight: bold;
    font-size: 9pt;
  }

  input[type="checkbox"]{
    cursor: pointer;
  }

  input[type="checkbox"] + label {
    cursor: pointer;
    font-size: 9pt;
  }

  .inline-form-control {
    display: inline-block;
    margin: 8px 8px 8px 0;
  }
}

.restart-link {
  display: inline-flex;
  padding: 0;
  margin: 0;

  font-size: 9pt;
  text-decoration: none;
}

.restart-link .icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

.restart-link .icon svg {
  position: relative;
}

.restart-link .label {
  display: inline-flex;
  margin: 5px 4px 4px 4px;

  text-decoration: underline;
  text-decoration-thickness: 1pt;
}

.restart-link:hover .label {
  text-decoration: none;
}


.source-code {
  font-size: 9pt;
}


.veil {
  position: fixed;

  backdrop-filter: blur(1px);
  background-color: rgba(0 0 0 / 50%);
  cursor: default;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.veil.hidden {
  display: none;
}

.bingo-dialog {
  border-radius: 2px;
  border: 1px solid var(--grey-50);
  filter: drop-shadow(0px 2px 4px rgb(0 0 0 / 25%));
  margin: auto;
  padding: 48px 32px 32px 32px;
  width: 360px;

  text-align: center;

  @media #{$mqMedium} {
    width: 400px;
  }
}

.bingo-heading {
  margin: 0;
  padding: 0;

  font-size: 64pt;
  font-weight: bold;
  line-height: 1;
}

.winning-labels {
  display: inline-block;
  text-align: left;

  li {
    font-size: 14px;
    line-height: 24px;

    &::before {
      content: '☑️ ';
    }
  }
}

.primary-button {
  background-color: var(--interactive-color);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  padding: 8px 16px;

  color: var(--white);
  font-weight: bold;
}
