body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.bingo-card {
  display: grid;

  border: 1px solid grey;
  width: 500px;
  height: 500px;
}

.tile-row {
  display: flex;

  height: 100px;
  width: 500px;
}

.bingo-tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0;
  border: none;
  cursor: pointer;
  height: 100px;
  padding: 10px;
  width: 100px;

  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}

.bingo-tile.even {
  background-color: #fff;
}

.bingo-tile.odd {
  background-color: #eee;
}