body {
  background-color: #fafafa;
  padding: 16px 0 32px 0;

  font-family: sans-serif;
}

h1 {
  line-height: 1;
}

a {
  text-decoration-thickness: 1pt;
}

a:hover {
  text-decoration: none;
}


.container {
  margin: 0 auto;
  width: 500px;
}

.bingo-card {
  display: grid;
  position: relative;

  border-radius: 1px;
  border: 8px solid #fff;
  filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 25%));
  height: 500px;
  left: -8px;
  outline: 2px solid #eee;
  width: 500px;
}

.tile-row {
  display: flex;

  height: 100px;
  width: 500px;
}


.bingo-tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0;
  border: none;
  cursor: pointer;
  height: 100px;
  padding: 10px;
  width: 100px;

  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.bingo-tile.even {
  background-color: #fafafa;
}

.bingo-tile.odd {
  background-color: #eee;
}

.bingo-tile:disabled {
  cursor: not-allowed;
  color: #757575;
}

.bingo-tile:disabled:after {
  position: absolute;
  opacity: 33%;

  content: '❌';
  font-size: 32pt;
}

.source-code {
  font-size: 9pt;
}


.veil {
  position: fixed;

  backdrop-filter: blur(1px);
  background-color: rgba(0 0 0 / 50%);
  cursor: default;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.veil.hidden {
  display: none;
}

.bingo-dialog {
  border-radius: 2px;
  border: 1px solid #757575;
  filter: drop-shadow(0px 2px 4px rgb(0 0 0 / 25%));
  padding: 48px 32px 32px 32px;
  width: 400px;

  text-align: center;
}

.bingo-heading {
  margin: 0;
  padding: 0;

  font-size: 64pt;
  font-weight: bold;
  line-height: 1;
}

.primary-button {
  background-color: #757575;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  padding: 8px 16px;

  color: #fff;
  font-weight: bold;
}

.spacing-8 {
  height: 8px;
}

.spacing-16 {
  height: 16px;
}

.spacing-24 {
  height: 24px;
}

.spacing-32 {
  height: 32px;
}

.spacing-48 {
  height: 48px;
}

.spacing-64 {
  height: 64px;
}